[Unit]
Description=Uzume Video Streamer Startup Service

[Service]
Type=simple
User=root
ExecStart=python3 /opt/uzume/launcher.py

[Install]
WantedBy=multi-user.target